.app {
  min-height: 100vh;
  background: rgb(182, 154, 154);
}
.scoreboard {
  display: flex;
  justify-content: space-around;
}
.score-panel {
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
